.books-list-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.books-list-page h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.books-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Cambiamos a 180px para 5 columnas */
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}