.add-book-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.add-book-form {
  background-color: rgba(55, 199, 204, 0.4);
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 30px;
  border-radius: 20px;
  width: 400px;
}

.add-book-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 3px;
}

.form-group input {
  width: 92%;
  padding: 8px;
  border: 1px solid #808080;
  border-radius: 20px;
}

.form-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Estructura básica de los botones */
.form-actions button {
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, opacity 0.3s ease;
}

/* Estilos del botón de submit */
.form-actions button[type="submit"] {
  background-color: #a681ad;
  backdrop-filter: blur(5px);
  color: rgb(0, 0, 0);
}

/* Estilos del botón de tipo "button" */
.form-actions button[type="button"] {
  background-color: #a681ad;
  backdrop-filter: blur(5px);
  color: rgb(0, 0, 0);
}

/* Hover para el botón submit (submit tiene un color verde) */
.form-actions button[type="submit"]:hover {
  background-color: #29b347;
  /* Intensificación del color verde */
  transform: scale(1.1);
  /* Efecto de expansión */
}

/* Hover para el botón tipo "button" (button tiene un color rojo) */
.form-actions button[type="button"]:hover {
  background-color: #c23820;
  /* Intensificación del color rojo */
  transform: scale(1.1);
  /* Efecto de expansión */
}