.navbar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 65vw;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgba(179, 211, 212, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  box-sizing: border-box;
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: center; /*centro el logo y el título dentro de su contenedor*/
}

.logo-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo-bn,
.logo-color {
  max-width: 90%;
  max-height: 60px;
}

.logo-bn {
  display: block;
  transition: opacity 0.5s ease;
  filter: grayscale(100%);
}

.logo-color {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.logo-container:hover .logo-bn {
  opacity: 0;
}

.logo-container:hover .logo-color {
  opacity: 1;
}

.title {
  font-size: 1.7rem;
  color: #000000;
  text-transform: lowercase;
  margin-left: 05px;
}

.search-bar {
  width: 25vw;
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  width: 100%;
}

.search-bar input:focus {
  border-color: #997662;
}

.profile-button {
  background: none;
  border: none;
  cursor: pointer;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.profile-pic:hover {
  transform: scale(1.1);
}