/*Sidebar-trigger*/
.sidebar-trigger {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background: #73665f;
  }
  
  .sidebar-trigger:hover {
    border-right: none;
  }
  
  .sidebar-trigger:hover .bars > span:first-of-type,
  .sidebar-trigger:hover .bars > span:last-of-type {
    transform: translateY(-5px);
    opacity: 0;
  }
  
  .sidebar-trigger:hover .bars > span:nth-of-type(2) {
    transform: scaleY(1.2);
    transform-origin: center bottom;
  }
  
  .sidebar-trigger:hover .sidebar {
    transform: translateX(50px);
  }
  
  .sidebar-trigger:hover .sidebar > ul > li > p {
    transform: translateY(0);
  }
  
  .sidebar-trigger:hover > p {
    transform: translateY(40px) rotate(-90deg);
    opacity: 1;
  }
  
  .sidebar-trigger > p {
    color: #aaa;
    transform: translateY(60px) rotate(-90deg);
    margin-top: 30px;
    font-weight: bold;
    letter-spacing: .12rem;
    transition: all .4s ease;
    position: absolute;
    opacity: 0;
    font-size: .9rem;
    z-index: 10;
  }
  
  .bars {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
  }
  
  .bars > span {
    width: 4px;
    height: 40px;
    background: #414141;
    transition: all .4s ease;
  }
  

/*Sidebar*/
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  background: #9a9898;
  top: 110px; 
  bottom: 110px;
  transform: translateX(calc(-100% + 51px));
  transition: all .8s cubic-bezier(.785,.135,.15,.86);
  padding: 50px 100px 50px 50px;
  will-change: transform;
  border-radius: 20px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.15);
  
}

.sidebar > ul:hover > li:not(:hover) {
  color: rgba(249, 249, 237, .5);
}

.sidebar > ul > li {
  color: #f9f9ed;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px 0;
  width: 160px;
  overflow: hidden;
}

.sidebar > ul > li:first-of-type {
  padding-top: 0;
}

.sidebar > ul > li:last-of-type {
  padding-bottom: 0;
}

.sidebar > ul > li:nth-of-type(1) > p {
  transition: transform .6s cubic-bezier(.785,.135,.15,.86) .1s, color .2s ease;
}
.sidebar > ul > li:nth-of-type(2) > p {
  transition: transform .6s cubic-bezier(.785,.135,.15,.86) .2s, color .2s ease;
}
.sidebar > ul > li:nth-of-type(3) > p {
  transition: transform .6s cubic-bezier(.785,.135,.15,.86) .3s, color .2s ease;
}
.sidebar > ul > li:nth-of-type(4) > p {
  transition: transform .6s cubic-bezier(.785,.135,.15,.86) .4s, color .2s ease;
}
.sidebar > ul > li:nth-of-type(5) > p {
  transition: transform .6s cubic-bezier(.785,.135,.15,.86) .5s, color .2s ease;
}

.sidebar > ul > li > p {
  transform: translateY(calc(100% + 10px));
}


/* Submenú de Shelves: estilos para el contenedor*/
.shelves {
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.shelves:hover .shelves-list {
    display: block; /* Manejo: se muestra cuando hacemos hoover sobre Shelves */
}
.shelves-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
    display: none; /* Oculto por defecto cuando no se está haciendo hoover */
}

/* Submenú: Estilo para los elementos o items  */
.shelves-list li {
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 5px;
}
.shelves-list li:hover {
    background-color: #eaeaea;
}
