/*Sidebar-trigger*/
.sidebar-trigger {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px; /*Para ajustar el ancho de la zona que activa la aparición del sidebar*/
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: transparent;
}

.sidebar-trigger:hover {
  border-right: none;
}

.sidebar-trigger:hover .bars>span:first-of-type,
.sidebar-trigger:hover .bars>span:last-of-type {
  transform: translateY(-5px);
  opacity: 0;
}

.sidebar-trigger:hover .bars>span:nth-of-type(2) {
  transform: scaleY(1.2);
  transform-origin: center bottom;
}

.sidebar-trigger:hover .sidebar {
  transform: translateX(40px);
}

.sidebar-trigger:hover .sidebar>ul>li>p {
  transform: translateY(0);
}

.sidebar-trigger:hover>p {
  transform: translateY(40px) rotate(-90deg);
  opacity: 1;
}

.sidebar-trigger>p {
  color: #aaa;
  transform: translateY(60px) rotate(-90deg);
  margin-top: 30px;
  font-weight: bold;
  letter-spacing: .12rem;
  transition: all .4s ease;
  position: absolute;
  opacity: 0;
  font-size: .9rem;
  z-index: 10;
}

.bars {
  display: flex;
  width: 55%;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.bars>span {
  width: 3px;
  height: 30px;
  background: #414141;
  transition: all .4s ease;
}

/*Sidebar*/
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(179, 211, 212, 0.4);
  backdrop-filter: blur(5px);
  top: 110px;
  bottom: 110px;
  transform: translateX(calc(-100% + 40px)); /*Ajustar lo que sorbesale del sidebar cuando está escondido*/
  transition: all .8s cubic-bezier(.785, .135, .15, .86);
  padding: 20px 100px 20px 20px;
  will-change: transform;
  border-radius: 20px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.15);
  width: 100px;
}

.sidebar>ul:hover>li:not(:hover) {
  color: rgba(0, 0, 0, 0.849);
  font-weight: 200;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.sidebar>ul>li {
  color: #383838;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px 0;
  width: 160px;
  overflow: hidden;
  font-weight: bold;
  transition: color 0.3s ease, font-weight 0.3s ease;
}

.sidebar>ul>li:first-of-type {
  padding-top: 0;
}

.sidebar>ul>li:last-of-type {
  padding-bottom: 0;
}

.sidebar>ul>li:nth-of-type(1)>p {
  transition: transform .6s cubic-bezier(.785, .135, .15, .86) .1s, color .2s ease;
}

.sidebar>ul>li:nth-of-type(2)>p {
  transition: transform .6s cubic-bezier(.785, .135, .15, .86) .2s, color .2s ease;
}

.sidebar>ul>li:nth-of-type(3)>p {
  transition: transform .6s cubic-bezier(.785, .135, .15, .86) .3s, color .2s ease;
}

.sidebar>ul>li:nth-of-type(4)>p {
  transition: transform .6s cubic-bezier(.785, .135, .15, .86) .4s, color .2s ease;
}

.sidebar>ul>li:nth-of-type(5)>p {
  transition: transform .6s cubic-bezier(.785, .135, .15, .86) .5s, color .2s ease;
}

.sidebar>ul>li>p {
  transform: translateY(calc(100% + 10px));
}


/* Estilo para el contenedor de Shelves */
.shelves {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  transition: font-weight 0.3s ease;
  /* Transición suave para el cambio de font-weight */
}

/* Estilo para el submenú que aparece al hacer hover en Shelves */
.shelves:hover .shelves-list {
  display: block;
  /* Se muestra cuando hacemos hover sobre Shelves */
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* Transición suave para la visibilidad */
  opacity: 1;
  /* Asegura que el submenú sea visible */
}

/* Estilo para la lista del submenú */
.shelves-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
  display: none;
  /* Oculto por defecto */
  opacity: 0;
  /* Inicia con opacidad 0 */
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* Transición suave de opacidad y transformación */
}

/* Estilo para los elementos del submenú */
.shelves-list li {
  font-size: 1.4rem;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, font-weight 0.3s ease;
  /* Transición suave */
}

/* Hover sobre los elementos del submenú */
.shelves-list li:hover {
  color: #0c0c0c;
  /* Cambio de color de texto al hacer hover */
  font-weight: bold;
  font-size: 1.5rem;
  /* Resalta el texto en negrita */
  transition: background-color 0.3s ease, color 0.3s ease, font-weight 0.4s ease;
}