.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #555;
    z-index: 100;
}

.footer small {
    margin: 0;
}

.footer img {
    max-height: 30px;
    object-fit: contain;
    cursor: pointer;
}