.not-found-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #555;
}

.not-found-page h1 {
    font-size: 6rem;
    margin: 0;
    color: #bc4519;
}

.not-found-page p {
    font-size: 1.5rem;
    color: #f3f3f3;
}